[Settings]

project={{ use_project }}
arch={{ use_arch }}
host={{ use_host }}
developer={{ use_developer }}
secret_keys=ts_authkey,cf_zone_dns_api_key,aws_access_key_id,aws_secret_access_key
host_keys=test_ip,test_host,test_ts_ip,test_host_host,test_host_user,test_host_snapshot,test_host_vm,prod_ip,prod_domain,proxy_ip,proxy_domain,vcs_ip,vcs_domain


