*~

._*

.DS_Store
/.idea
/python
/dev/.vagrant
/dev/db/log/*
!/dev/db/log/.gitkeep
/dev/docker-compose.yml
/dev/docker-compose.partial.yml
/roles
/collections
/dev/env/vhost.d/*
!/dev/env/vhost.d/www.dev.org_location

/dev/code
/dev/roles

/proxy/ansible/hosts
/test/ansible/hosts
/test/vagrant/.vagrant

