<?xml version="1.0" encoding="UTF-8"?>
<project default="build" name="victor2">

    <target depends="composer,npm,grunt,remix" name="build"/>

    <target description="Installing dependencies" name="composer">
        <exec executable="wget" failonerror="true">
            <arg value="-nc"/>
            <arg value="http://getcomposer.org/composer.phar"/>
        </exec>
        <exec executable="php" failonerror="true">
            <arg value="composer.phar"/>
            <arg value="install"/>
            <arg value="--dev"/>
            <arg value="--prefer-dist"/>
            <arg value="--no-progress"/>
        </exec>
    </target>

     <target name="npm-tmp-config">
        <mkdir dir="/tmp/npm-tmp"/>
        <chmod dir="/tmp/npm-tmp"
            perm="777"
            includes="**/*"
            type="both"
            failonerror="false"/>
    </target>

    <target description="Install dependencies with npm" name="npm" depends="npm-tmp-config">
        <exec executable="npm">
            <arg value="install" />
            <arg value="--bin-links=false" />
            <env key="TMPDIR" value="/tmp/npm-tmp"/>
            <env key="TMP"    value="/tmp/npm-tmp"/>
            <env key="TEMP"   value="/tmp/npm-tmp"/>
        </exec>
    </target>

    <target description="Run grunt task runner" name="grunt" depends="npm">
        <exec executable="./node_modules/grunt-cli/bin/grunt" />
    </target>

    <target description="prepare remix server" name="remix" depends="npm-tmp-config">
        <delete dir="react/server/build"/>
        <delete dir="react/server/public"/>
        <delete dir="react/server/node_modules"/>
        <delete file="react/server/package-lock.json"/>
        <delete file="react/server/server.js"/>

        <exec dir="react" executable="npm">
            <arg value="install"/>
            <arg value="--bin-links=false" />
            <env key="TMPDIR" value="/tmp/npm-tmp"/>
            <env key="TMP"    value="/tmp/npm-tmp"/>
            <env key="TEMP"   value="/tmp/npm-tmp"/>
        </exec>

        <exec dir="react" executable="npm">
            <arg value="run"/>
            <arg value="build"/>
            <env key="TMPDIR" value="/tmp/npm-tmp"/>
            <env key="TMP"    value="/tmp/npm-tmp"/>
            <env key="TEMP"   value="/tmp/npm-tmp"/>
        </exec>

        <copy todir="react/server/build">
            <fileset dir="react/build"/>
        </copy>

        <copy todir="react/server/public">
            <fileset dir="react/public"/>
        </copy>

        <copy file="react/server.js" toDir="react/server"/>
    </target>
</project>