
[Unit]
Description=Docker Compose - Jenkins
Requires=docker.service
After=docker.service

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/{{ ansible_user }}/docker
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecReload=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose stop
TimeoutStartSec=0
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
