
networks:
  nginx-proxy:
    external: true

services:
  jenkins-gig:
    environment:
      - VIRTUAL_HOST=jenkins.staging.{{ hosts.proxy_domain }}
      - VIRTUAL_PORT=8080
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/home/{{ ansible_user }}/jenkins:/var/jenkins_home"
    image: "registry.gitlab.com/mikejw/empathy/jenkins-gig:jdk17"
    container_name: "jenkins-jenkins"
    networks:
      - nginx-proxy

  tailscale-nginx:
    image: tailscale/tailscale:latest
    hostname: test-tailscale-nginx
    environment:
      - TS_AUTHKEY={{ secrets_vals.ts_authkey }}
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - ${PWD}/tailscale-nginx/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      - nginx-proxy

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock:ro"
      - "/home/{{ ansible_user }}/vhost.d:/etc/nginx/vhost.d"
    depends_on:
      - tailscale-nginx
    network_mode: service:tailscale-nginx


