
$font-size-base:              0.9rem;


$white: #ffffff;

$theme-colors: (
        "light":      $white,
        "dark":       #080908,
        "primary":    #d68a59,
        "secondary":  #fada5e,
        "info":       #a88b6a,
        "accent1":    #6f3c1a,
        "accent2":    #c14d2c,
        "accent3":    #a9a496,
        "success":    #549d20,
        "warning":    #febe52,
        "danger":     #ec1360,
);


// alternative theme
//$white: #ffffff;
//
//$theme-colors: (
//        "light":      #13a9e3,
//        "dark":       #fe1674,
//        "primary":    #1b2361,
//        "secondary":  #0d5b9a,
//        "info":       #2c9fd9,
//        "accent1":    #1d3b6a,
//        "accent2":    #2b5895,
//        "accent3":    #97cde3,
//        "success":    #099c5b,
//        "warning":    #dfc90a,
//        "danger":     #ed1d03,
//);
