

{
    "require": {
    {% if template == 'elib-cms' %}
        "mikejw/elib-cms": "^4",
        "mikejw/elib-siteinfo": "^4.1",
        "nesbot/carbon": "^3.0@dev"
    {% else %}
        "mikejw/{% if template == 'vanilla' %}empathy{% else %}{{ template}}{% endif %}": "^4"
    {% endif %}    
    },
    "minimum-stability": "dev"
}



{# core lib feature branch (bootstrap5)


{
  {% set pkg =
      'elib-cms' if template == 'elib-cms'
      else ('empathy' if template == 'vanilla' else template)
  %}

  {% set default_ref = '^4' %}
  {% set ref = use_core_ref | default(default_ref) %}
  {% set use_dev_ref = ref.startswith('dev-') %}
  {% set pin_base = use_dev_ref and pkg != 'empathy' %}

  "config": {
    "github-protocols": ["https"]
  },

  {% if use_dev_ref %}
  "repositories": [
    { "type": "vcs", "url": "https://github.com/mikejw/empathy.git", "no-api": true }
    {% if pin_base %}
    ,{ "type": "vcs", "url": "https://github.com/mikejw/elib-base.git", "no-api": true }
    {% endif %}
  ],
  {% endif %}

  "require": {
    {% if template == 'elib-cms' %}
      "mikejw/elib-cms": "^4",
      "mikejw/elib-siteinfo": "^4.1",
      "nesbot/carbon": "^3.0@dev"
      {% if use_core_ref is defined %}
      ,"mikejw/empathy": "{{ ref }}"
      {% endif %}
      {% if pin_base %}
      ,"mikejw/elib-base": "{{ ref }}"
      ,"mikejw/elib-siteinfo": "{{ ref }}"
      {% endif %}
    {% else %}

      {% if pkg == 'empathy' %}
        "mikejw/empathy": "{{ ref }}"
      {% else %}

        {% if pkg == 'elib-blog' %}
        "mikejw/{{ pkg }}": "{{ ref }}"  
        {% else %}
        "mikejw/{{ pkg }}": "^4"
        {% endif %}

        {% if use_core_ref is defined %}
        ,"mikejw/empathy": "{{ ref }}"
        {% endif %}
        {% if pin_base %}
        ,"mikejw/elib-base": "{{ ref }}"
          {% if pkg == 'elib-blog' %}
          ,"mikejw/elib-siteinfo": "{{ ref }}"
          {% endif %}  
        {% endif %}
      {% endif %}

    {% endif %}
  },

  "minimum-stability": "dev",
  "prefer-stable": true
}
#}