



control 	ansible_host=127.0.0.1
test		ansible_host={{ hosts.test_ip }} ansible_user={{ hosts.test_user }}
{% if hosts.test_host_host is defined and
    hosts.test_host_user is defined and
    hosts.test_host_snapshot is defined and
    hosts.test_host_vm is defined %}
test_host	ansible_host={{ hosts.test_host_host }} ansible_user={{ hosts.test_host_user }}
{% endif %}
